{
  "presets": [
    "@babel/react",
    ["@babel/env", {
      "exclude": ["transform-regenerator"],
      "targets": {
        "chrome": "80",
        "firefox": "74"
      },
      // false = do not polyfill stuff unneccessarily
      "useBuiltIns": false
    }]
  ],
  "plugins": [
    [ "react-intl", { "messagesDir": "./public/messages", "enforceDescriptions": false } ],
    "transform-react-jsx-img-import",
    ["@babel/proposal-class-properties", { "loose": true }],
    "@babel/proposal-object-rest-spread",
    "babel-plugin-styled-components"
  ]
}
