$primary-0: #061139;
$primary-1: #111749;
$primary-2: #19216C;
$primary-3: #2D3A8C;
$primary-4: #35469C;
$primary-5: #4055A8;
$primary-6: #4C63B6;
$primary-7: #647ACB;
$primary-8: #7B93DB;
$primary-9: #98AEEB;
$primary-10: #BED0F7;
$primary-11: #E0E8F9;
$primary-12: #FFFFFF;

$neutral-1: #0F1923;
$neutral-2: #1F2933;
$neutral-3: #323F4B;
$neutral-4: #3E4C59;
$neutral-5: #52606D;
$neutral-6: #616E7C;
$neutral-7: #7B8794;
$neutral-8: #9AA5B1;
$neutral-9: #CBD2D9;
$neutral-10: #E4E7EB;
$neutral-11: #F5F7FA;

$accent-1-1: #035388;
$accent-1-2: #0B69A3;
$accent-1-3: #127FBF;
$accent-1-4: #1992D4;
$accent-1-5: #2BB0ED;
$accent-1-6: #40C3F7;
$accent-1-7: #5ED0FA;
$accent-1-8: #81DEFD;
$accent-1-9: #B3ECFF;
$accent-1-10: #E3F8FF;

$accent-2-1: #610316;
$accent-2-2: #8A041A;
$accent-2-3: #AB091E;
$accent-2-4: #CF1124;
$accent-2-5: #E12D39;
$accent-2-6: #EF4E4E;
$accent-2-7: #F86A6A;
$accent-2-8: #FF9B9B;
$accent-2-9: #FFBDBD;
$accent-2-10: #FFE3E3;

$text-1-size: 12px;
$text-2-size: 14px;
$text-3-size: 16px;
$text-4-size: 18px;
$text-5-size: 20px;
$text-6-size: 24px;
$text-7-size: 30px;
$text-8-size: 36px;
$text-9-size: 48px;
$text-10-size: 60px;
$text-11-size: 72px;

$text-1-weight: 400;
$text-2-weight: 700;
$text-3-weight: 900;

$small-text-size: $text-3-size;
$small-text-weight: $text-1-weight;
$small-text-semi-bold-weight: $text-2-weight;
$small-text-bold-weight: $text-3-weight;

$xsmall-text-size: $text-1-size;
$xsmall-text-weight: $text-1-weight;
$xsmall-text-bold-weight: $text-2-weight;

:root {
  --panel-header-text-color: #{$primary-6};
  --panel-header-text-size: #{$text-2-size};
  --panel-header-text-weight: #{$text-2-weight};
  --panel-selected-text-color: #{$primary-11};
  --panel-text-size: #{$text-4-size};
  --panel-text-weight: #{$text-1-weight};
  --panel-text-color: #{$primary-9};
  --panel-banner-text-size: #{$text-4-size};
  --panel-banner-text-weight: #{$text-2-weight};
  --panel-banner-text-color: #{$primary-11};
  --panel-background-color: #{$primary-1};
  --panel-selected-text-weight: #{$text-2-weight};
  --panel-item-selected-background-color: #{$primary-3};
  --panel-item-hover-background-color: #{$primary-3};
  --panel-item-hover-text-color: #{$primary-11};
  --panel-item-active-text-color: #{$primary-11};
  --panel-item-active-background-color: #{$primary-5};
  --panel-item-drag-line-color: #{$primary-8};
  --secondary-panel-background-color: #{$primary-0};
  --secondary-panel-item-text-color: #{$primary-11};
  --secondary-panel-item-text-weight: #{$text-2-weight};
  --secondary-panel-item-text-size: #{$text-5-size};
  --secondary-panel-item-background-color: #{$primary-2};
  --secondary-panel-item-selected-background-color: #{$primary-2};
  --secondary-panel-item-selected-border-color: #{$primary-3};
  --secondary-panel-item-hover-background-color: #{$primary-2};
  --secondary-panel-item-active-background-color: #{$primary-3};
  --secondary-panel-item-drag-line-color: #{$primary-8};
  --action-button-text-color: #{$primary-10};
  --action-button-text-size: #{$text-4-size};
  --action-button-text-weight: #{$text-2-weight};
  --action-button-background-color: #{$primary-6};
  --action-button-border-color: #{$primary-4}A0;
  --action-button-hover-background-color: #{$primary-5};
  --action-button-active-background-color: #{$primary-4};
  --action-color: #{$primary-9};
  --action-hover-color: #{$primary-9};
  --action-pressed-color: #{$primary-9};
  --scroll-thumb-color: #{$primary-9}A0;
  --secondary-scroll-thumb-color: #{$neutral-9}A0;
  --input-text-color: black;
}
