<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>What's New in Jel</title>
    <meta name="jel-schema" content="world-1.0">
    <meta name="jel-world-type" content="1">
    <meta name="jel-world-seed" content="89">
    <meta name="jel-world-ground-color-r" content="0">
    <meta name="jel-world-ground-color-g" content="0.266666666">
    <meta name="jel-world-ground-color-b" content="0.0196078431372549">
    <meta name="jel-world-edge-color-r" content="0.5764705882352941">
    <meta name="jel-world-edge-color-g" content="0.3411764705882353">
    <meta name="jel-world-edge-color-b" content="0.20784313725490197">
    <meta name="jel-world-leaves-color-r" content="0">
    <meta name="jel-world-leaves-color-g" content="0.39215686274509803">
    <meta name="jel-world-leaves-color-b" content="0.07058823529411765">
    <meta name="jel-world-bark-color-r" content="0.1450980392156863">
    <meta name="jel-world-bark-color-g" content="0.07058823529411765">
    <meta name="jel-world-bark-color-b" content="0">
    <meta name="jel-world-rock-color-r" content="1">
    <meta name="jel-world-rock-color-g" content="1">
    <meta name="jel-world-rock-color-b" content="1">
    <meta name="jel-world-grass-color-r" content="0">
    <meta name="jel-world-grass-color-g" content="0.8509803921568627">
    <meta name="jel-world-grass-color-b" content="0.050980392156862744">
    <meta name="jel-world-sky-color-r" content="0.29411764705882354">
    <meta name="jel-world-sky-color-g" content="0.4392156862745098">
    <meta name="jel-world-sky-color-b" content="0.6549019607843137">
    <meta name="jel-world-water-color-r" content="0">
    <meta name="jel-world-water-color-g" content="0.26666666666666666">
    <meta name="jel-world-water-color-b" content="0.6352941176470588">
    <meta name="jel-spawn-position-x" content="1.951474511689415">
    <meta name="jel-spawn-position-y" content="3.7255796216271673">
    <meta name="jel-spawn-position-z" content="-2.65285840220792">
    <meta name="jel-spawn-rotation-x" content="-0.03775503970945809">
    <meta name="jel-spawn-rotation-y" content="0.6915719157965351">
    <meta name="jel-spawn-rotation-z" content="0.036243748321589365">
    <meta name="jel-spawn-rotation-w" content="0.7204090733504463">
    <meta name="jel-spawn-radius" content="0">
  </head>
  <body>
    <div id="rd2r855" style="color: rgba(194, 215, 255, 1.0); width: min-content; height: min-content; background-color:
        rgba(83, 0, 112, 1.0); font-family: sans-serif; transform: translate3d(-226.7274cm, 214.7725cm, -60.7484cm)
        rotate3d(-0.1739, 0.9509, -0.2562, 1.6553rad) scale3D(1.0000, 1.0000, 1.0000);">
      <p>"No mouth" muting</p>
    </div>
    <div src="jel://entities/qjn9eln/components/media-emoji/properties/emoji" id="qjn9eln" style="font-family: emoji;
        transform: translate3d(-15.2644cm, 138.2645cm, -335.0412cm) rotate3d(-0.2698, 0.9182, -0.2901, 1.2397rad)
        scale3D(1.0000, 1.0000, 1.0000);">💡</div>
    <div id="ppq0lkt" style="color: rgba(152, 174, 235, 1.0); width: min-content; height: min-content; background-color:
        rgba(17, 23, 73, 1.0); font-family: serif; transform: translate3d(-82.7624cm, 318.1170cm, 177.2753cm)
        rotate3d(0.0584, 0.9949, -0.0817, 2.0947rad) scale3D(2.5102, 2.5102, 2.5102);">
      <p>
        <strong>February 2020</strong>
      </p>
    </div>
    <div id="n0p1wmo" style="color: rgba(255, 255, 255, 1.0); width: min-content; height: min-content; background-color:
        rgba(0, 0, 0, 1.0); font-family: sans-serif; transform: translate3d(-95.7566cm, 187.4217cm, 145.7166cm)
        rotate3d(0.0924, 0.9931, 0.0729, 2.4468rad) scale3D(1.0000, 1.0000, 1.0000);">
      <p>Zoom Calling</p>
    </div>
    <div src="jel://entities/my5idn1/components/media-emoji/properties/emoji" id="my5idn1" style="font-family: emoji;
        transform: translate3d(-53.7533cm, 169.7499cm, 170.4983cm) rotate3d(0.0633, 0.9935, -0.0944, 3.2489rad)
        scale3D(0.5632, 0.5632, 0.5632);">📞</div>
    <div id="lj0ymo0" style="color: rgba(255, 255, 255, 1.0); width: min-content; height: min-content; background-color:
        rgba(0, 0, 0, 1.0); font-family: sans-serif; transform: translate3d(-20.9539cm, 110.5929cm, -277.6840cm)
        rotate3d(-0.0400, 0.9984, 0.0397, 1.5652rad) scale3D(1.0000, 1.0000, 1.0000);">
      <h1>What's New</h1>
      <p>
        <br>
      </p>
      <p>Come back here to keep up to date with the</p>
      <p>latest updates to Jel.</p>
    </div>
    <div id="jyy969a" style="color: rgba(255, 164, 113, 1.0); width: min-content; height: min-content; background-color:
        rgba(58, 28, 0, 1.0); font-family: comic; transform: translate3d(33.5800cm, 181.8990cm, 322.5008cm)
        rotate3d(0.2111, 0.9754, 0.0641, 2.7509rad) scale3D(1.6919, 1.6919, 1.6919);">
      <p>
        HYPE VIDEO
        <span class="ql-emojiblot" data-name="star2">
          <span contenteditable="false">
            <span class="ap ap-star2">🌟</span>
          </span>
        </span>
      </p>
    </div>
    <img crossorigin="anonymous"
        src="https://storage.jel.app/files/5384137b-3c6c-4fdb-9952-356431ab59c4.png?token=ea525e341507cf1537a0e16bea66c247" id="h27m7c4" style="transform: translate3d(-234.6247cm, 195.1165cm, -3.1971cm) rotate3d(-0.0277, 0.9986, 0.0457, 1.9065rad) scale3D(1.4935, 1.4935, 1.4935);">
    <img crossorigin="anonymous"
        src="https://storage.jel.app/files/d2e27d7f-54a0-4782-85a4-847f0d5ed44e.png?token=33f3ed3de9e239dd5d814abcd152990d" id="c49ue5x" style="transform: translate3d(-109.2600cm, 132.5224cm, 109.5774cm) rotate3d(-0.0596, 0.9928, 0.1039, 2.0788rad) scale3D(1.4732, 1.4732, 1.4732);">
    <video autoplay="hover" crossorigin="anonymous" controls="" currenttime="0" loop="false"
        src="https://www.youtube.com/watch?v=_YXjGj3oYz8" id="c14ol6s" style="transform: translate3d(-4.0102cm,
        136.3890cm, 297.0913cm) rotate3d(0.0131, 0.9992, -0.0382, 2.4295rad) scale3D(1.8279, 1.8279, 1.8279);"></video>
  </body>
</html>
