$treePrefixCls: atom-tree;
$treeNodePrefixCls: atom-tree-treenode;

@keyframes expand-tree-node { from { transform: rotate(0deg); } to { transform: rotate(90deg); } }
@keyframes collapse-tree-node { from { transform: rotate(90deg); } to { transform: rotate(0deg); } }

.#{$treePrefixCls} {
  margin: 0;
  border: 1px solid transparent;
  width: 100%;
  
  // padding: 5px;
  .#{$treeNodePrefixCls} {
    margin: 0;
    padding: 0 8px;
    line-height: 28px;
    white-space: nowrap;
    list-style: none;
    outline: 0;
    display: flex;
    align-items: center;
    .draggable {
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      /* Required to make elements draggable in old WebKit */
      -khtml-user-drag: element;
      -webkit-user-drag: element;
    }
    font-size: var(--panel-item-text-size);
    &:hover {
      background-color: var(--panel-item-hover-background-color);
      color: var(--panel-item-hover-text-color);
    }
    &:active {
      background-color: var(--panel-item-active-background-color);
      color: var(--panel-item-active-text-color);
    }
    &.drag-over {
      > .draggable {
        background-color: var(--panel-item-hover-background-color);
        opacity: 0.8;
      }
    }
    &.drag-over-gap-top {
      > .draggable {
        border-top: 2px var(--panel-item-drag-line-color) solid;
      }
    }
    &.drag-over-gap-bottom {
      > .draggable {
        border-bottom: 2px var(--panel-item-drag-line-color) solid;
      }
    }
    &.filter-node {
      > .#{$treePrefixCls}-node-content-wrapper {
      }
    }
    ul {
      margin: 0;
      padding: 0 0 0 18px;
    }
    &-selected {
      background-color: var(--panel-item-selected-background-color);
      color: var(--panel-selected-text-color);
    }
    .#{$treePrefixCls}-node-content-wrapper {
      display: flex;
      flex-direction: row;
      height: 30px;
      width: 100%;
      flex-shrink: 10; // Hacky - deeply nested nodes start shrinking expander 
      margin: 0;
      padding: 1px 3px 0 0;
      text-decoration: none;
      vertical-align: top;
      overflow: hidden;
      cursor: pointer;
    }
    span {
      &.#{$treePrefixCls}-title {
        overflow: hidden;
        flex: 1;
      }

      &.#{$treePrefixCls}-switcher,
      &.#{$treePrefixCls}-checkbox,
      &.#{$treePrefixCls}-iconEle {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 2px;
        line-height: 16px;
        vertical-align: middle;
        background-color: transparent;
        background-repeat: no-repeat;
        background-attachment: scroll;
        border: 0 none;
        outline: none;
        cursor: pointer;

        &.#{$treePrefixCls}-icon__customize {
          background-image: none;
        }
      }
      &.#{$treePrefixCls}-icon_loading {
        margin-right: 2px;
        vertical-align: top;
      }
      &.#{$treePrefixCls}-switcher {
        &.#{$treePrefixCls}-switcher-noop {
          cursor: auto;
        }
        &.#{$treePrefixCls}-switcher_open {
          mask: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwKSI+CjxwYXRoIGQ9Ik0yNS40NjYzIDE0LjIxNDlDMjYuOTMwNiAxNC45NTQ2IDI2LjkzMDYgMTcuMDQ1NCAyNS40NjYzIDE3Ljc4NTFMNy45MDE4MiAyNi42NTg0QzYuNTcxNTUgMjcuMzMwNCA1IDI2LjM2MzcgNSAyNC44NzMzTDUgNy4xMjY3M0M1IDUuNjM2MzUgNi41NzE1NSA0LjY2OTU2IDcuOTAxODIgNS4zNDE1OUwyNS40NjYzIDE0LjIxNDlaIiBmaWxsPSJibGFjayIvPgo8L2c+CjxkZWZzPgo8Y2xpcFBhdGggaWQ9ImNsaXAwIj4KPHJlY3Qgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo=') 0 0/15px 15px;
          -webkit-mask: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwKSI+CjxwYXRoIGQ9Ik0yNS40NjYzIDE0LjIxNDlDMjYuOTMwNiAxNC45NTQ2IDI2LjkzMDYgMTcuMDQ1NCAyNS40NjYzIDE3Ljc4NTFMNy45MDE4MiAyNi42NTg0QzYuNTcxNTUgMjcuMzMwNCA1IDI2LjM2MzcgNSAyNC44NzMzTDUgNy4xMjY3M0M1IDUuNjM2MzUgNi41NzE1NSA0LjY2OTU2IDcuOTAxODIgNS4zNDE1OUwyNS40NjYzIDE0LjIxNDlaIiBmaWxsPSJibGFjayIvPgo8L2c+CjxkZWZzPgo8Y2xpcFBhdGggaWQ9ImNsaXAwIj4KPHJlY3Qgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo=') 0 0/15px 15px;
          background-color: var(--panel-text-color);
          transform: rotate(90deg);
          transition: transform 0.25s;
        }
        &.#{$treePrefixCls}-switcher_close {
          mask: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwKSI+CjxwYXRoIGQ9Ik0yNS40NjYzIDE0LjIxNDlDMjYuOTMwNiAxNC45NTQ2IDI2LjkzMDYgMTcuMDQ1NCAyNS40NjYzIDE3Ljc4NTFMNy45MDE4MiAyNi42NTg0QzYuNTcxNTUgMjcuMzMwNCA1IDI2LjM2MzcgNSAyNC44NzMzTDUgNy4xMjY3M0M1IDUuNjM2MzUgNi41NzE1NSA0LjY2OTU2IDcuOTAxODIgNS4zNDE1OUwyNS40NjYzIDE0LjIxNDlaIiBmaWxsPSJibGFjayIvPgo8L2c+CjxkZWZzPgo8Y2xpcFBhdGggaWQ9ImNsaXAwIj4KPHJlY3Qgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo=') 0 0/15px 15px;
          -webkit-mask: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwKSI+CjxwYXRoIGQ9Ik0yNS40NjYzIDE0LjIxNDlDMjYuOTMwNiAxNC45NTQ2IDI2LjkzMDYgMTcuMDQ1NCAyNS40NjYzIDE3Ljc4NTFMNy45MDE4MiAyNi42NTg0QzYuNTcxNTUgMjcuMzMwNCA1IDI2LjM2MzcgNSAyNC44NzMzTDUgNy4xMjY3M0M1IDUuNjM2MzUgNi41NzE1NSA0LjY2OTU2IDcuOTAxODIgNS4zNDE1OUwyNS40NjYzIDE0LjIxNDlaIiBmaWxsPSJibGFjayIvPgo8L2c+CjxkZWZzPgo8Y2xpcFBhdGggaWQ9ImNsaXAwIj4KPHJlY3Qgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo=') 0 0/15px 15px;
          background-color: var(--panel-text-color);
          transform: rotate(0deg);
          transition: transform 0.25s;
        }
      }
      &.#{$treePrefixCls}-checkbox {
        width: 13px;
        height: 13px;
        margin: 0 3px;
        background-position: 0 0;
        &-checked {
          background-position: -14px 0;
        }
        &-indeterminate {
          background-position: -14px -28px;
        }
        &-disabled {
          background-position: 0 -56px;
        }
        &.#{$treePrefixCls}-checkbox-checked.#{$treePrefixCls}-checkbox-disabled {
          background-position: -14px -56px;
        }
        &.#{$treePrefixCls}-checkbox-indeterminate.#{$treePrefixCls}-checkbox-disabled {
          position: relative;
          background: #ccc;
          border-radius: 3px;
          &::after {
            position: absolute;
            top: 5px;
            left: 3px;
            width: 5px;
            height: 0;
            border: 2px solid #fff;
            border-top: 0;
            border-left: 0;
            -webkit-transform: scale(1);
            transform: scale(1);
            content: ' ';
          }
        }
      }
    }
  }
  &:not(.#{$treePrefixCls}-show-line) {
    .#{$treeNodePrefixCls} {
      .#{$treePrefixCls}-switcher-noop {
        background: none;
      }
    }
  }
  &.#{$treePrefixCls}-show-line {
    .#{$treeNodePrefixCls}:not(:last-child) {
      > ul {
        background: url('data:image/gif;base64,R0lGODlhCQACAIAAAMzMzP///yH5BAEAAAEALAAAAAAJAAIAAAIEjI9pUAA7')
          0 0 repeat-y;
      }
      > .#{$treePrefixCls}-switcher-noop {
        background-position: -56px -18px;
      }
    }
    .#{$treeNodePrefixCls}:last-child {
      > .#{$treePrefixCls}-switcher-noop {
        background-position: -56px -36px;
      }
    }
  }
  &-child-tree {
    display: none;
    &-open {
      display: block;
    }
  }
  &-treenode-disabled {
    > span:not(.#{$treePrefixCls}-switcher),
    > a,
    > a span {
      color: #767676;
      cursor: not-allowed;
    }
  }
  #-treenode-active {
    background: rgba(0, 0, 0, 0.1);

    // .#{$treePrefixCls}-node-content-wrapper {
    //   background: rgba(0, 0, 0, 0.1);
    // }
  }
  &-node-selected {
    background-color: transparent;
  }
  &-icon__open {
    margin-right: 2px;
    vertical-align: top;
    background-position: -110px -16px;
  }
  &-icon__close {
    margin-right: 2px;
    vertical-align: top;
    background-position: -110px 0;
  }
  &-icon__docu {
    margin-right: 2px;
    vertical-align: top;
    background-position: -110px -32px;
  }
  &-icon__customize {
    margin-right: 2px;
    vertical-align: top;
  }
  &-indent-unit {
    display: inline-block;
    padding-left: 18px;
  }
}
