@import '../../../hubs/assets/stylesheets/root-vars';
@import '../../../hubs/assets/stylesheets/shared';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  @extend %default-font;
}

