.ql-container:hover {
  scrollbar-color: #aaa transparent !important;
}

.ql-container:hover ::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  transition: background-color 0.25s;
}

.ql-container ::-webkit-scrollbar-thumb {
  background-color: #aaa !important;
  transition: background-color 0.25s !important;
  background-clip: padding-box !important;
  border: 2px solid transparent !important;
  border-radius: 4px !important;
  min-height: 40px !important;
}

.ql-container ::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
  visibility: hidden !important;
}

.ql-container ::-webkit-scrollbar-corner {
  background-color: transparent !important;
}

.ql-container ::-webkit-scrollbar-track {
  border-color: transparent !important;
  background-color: transparent !important;
  border: 2px solid transparent !important;
  visibility: hidden !important;
}

.ql-blank::before {
  display: none !important;
  font-size: 32px !important;
  font-style: normal !important;
  color: #888 !important;
  width: 100% !important;
  height: 100% !important;
  justify-content: center !important;
  align-items: center !important;
}

.ql-editor {
  font-family: 'Lato';
  font-size: 1.5em !important;
  width: 100% !important;
  padding: 16px 20px !important;
}

.ql-editor.font-sans-serif {
  font-family: 'Lato';
} 

.ql-editor.font-serif {
  font-family: 'Merriweather';
} 

.ql-editor.font-mono {
  font-family: 'Inconsolata';
} 

.ql-editor.font-comic {
  font-family: 'Bangers';
} 

.ql-editor.font-comic2 {
  font-family: 'Comic Neue';
} 

.ql-editor.font-writing {
  font-family: 'Sriracha';
} 

.ql-editor.font-writing2 {
  font-family: 'Indie Flower';
} 

.ql-editor p, h1, h2, ul, li {
  width: max-content;
  max-width: 100%;
}

.ql-editor .ql-align-right,.ql-align-justify,.ql-align-center {
  width: 100% !important;
}

/* Emoji tweaks - drop background bc of SVG security */
.ap {
  display: inline !important;
  background-image: none !important;
}

.ql-emojiblot {
  line-height: 100% !important;
  margin: 0px 4px !important;
}

.ap {
  vertical-align: baseline !important;
}

h1 .ap {
  font-size: 32px !important;
  margin: 0px 4px !important;
}

h2 .ap {
  font-size: 24px !important;
  margin: 0px 2px !important;
}

