@use "./jel-theme.scss";

:local(.base-panel) {
  color: var(--panel-text-color);
  background-color: var(--panel-background-color);
  font-weight: jel-theme.$small-text-weight;
}

:local(.secondary-panel) {
  color: var(--panel-text-color);
  background-color: var(--secondary-panel-background-color);
  font-weight: jel-theme.$small-text-weight;
  font-size: var(--panel-text-size);
  font-weight: var(--panel-text-weight);
}

:local(.show-when-popped) {
  position: relative;
  opacity: 0;
  pointer-events: none;

  transition: opacity 0.15s linear;

  & :local(.slide-down-when-popped) {
    transform: translateY(-4px) scale(0.95,0.95);
    transition: transform 0.15s linear
  }

  & :local(.slide-up-when-popped) {
    transform: translateY(4px) scale(0.95,0.95);
    transition: transform 0.15s linear
  }

  &:focus-within {
    opacity: 1;
    pointer-events: auto;

    transition: opacity 0.15s linear;

    & :local(.slide-down-when-popped),:local(.slide-up-when-popped) {
      transform: translateY(0px) scale(1, 1);
      transition: transform 0.15s cubic-bezier(0.760, -0.005, 0.515, 2.25);
    }

    .modal-background {
      pointer-events: auto;
    }
  }
}

:local(.fast-show-when-popped) {
  opacity: 0;
  pointer-events: none;

  transition: opacity 0.05s linear;

  &:focus-within {
    opacity: 1;
    pointer-events: auto;

    transition: opacity 0.05s linear;

    .modal-background {
      pointer-events: auto;
    }
  }
}

.svg-overlay-shadow {
  filter: drop-shadow(0px 0px 4px var(--menu-shadow-color));
}

@keyframes float_logo { from { top: -18px; } to { top: -5px; }  }
@keyframes float_logo_shadow { from { transform: scaleX(1.2) } to { transform: scaleX(1.0); }  }
