$treePrefixCls: space-tree;
$treeNodePrefixCls: space-tree-treenode;

@keyframes expand-tree-node { from { transform: rotate(0deg); } to { transform: rotate(90deg); } }
@keyframes collapse-tree-node { from { transform: rotate(90deg); } to { transform: rotate(0deg); } }

.#{$treePrefixCls} {
  margin: 0;
  border: 1px solid transparent;
  
  &-focused:not(&-active-focused) {
    border-color: cyan;
  }
  
  &-title {
    display: none;
  }

  // padding: 5px;
  .#{$treeNodePrefixCls} {
    margin: 4px 6px 4px 14px;

    &:first-child {
      margin-top: 8px;
    }

    padding: 0;
    line-height: 30px;
    white-space: nowrap;
    list-style: none;
    outline: 0;
    .draggable {
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      /* Required to make elements draggable in old WebKit */
      -khtml-user-drag: element;
      -webkit-user-drag: element;
    }
    & .#{$treePrefixCls}-iconEle .spaceNodeIcon {
      background-color: var(--tertiary-panel-item-background-color);
    }
    &:hover .#{$treePrefixCls}-iconEle .spaceNodeIcon,.spaceAddIcon {
    }
    &:active .#{$treePrefixCls}-iconEle .spaceNodeIcon,.spaceAddIcon {
      transform: translate(0px, 2px);
    }
    &.drag-over {
      > .draggable {
        background-color: var(--tertiary-panel-item-hover-background-color);
        opacity: 0.8;
      }
    }
    &.drag-over-gap-top {
      > .draggable {
        border-top: 2px var(--tertiary-panel-item-drag-line-color) solid;
      }
    }
    &.drag-over-gap-bottom {
      > .draggable {
        border-bottom: 2px var(--tertiary-panel-item-drag-line-color) solid;
      }
    }
    ul {
      margin: 0;
      padding: 0;
    }
    &-selected .#{$treePrefixCls}-iconEle .spaceNodeIcon {
      background-color: var(--tertiary-panel-item-selected-background-color);
      border: 3px solid var(--tertiary-panel-item-selected-border-color);
    }
    &-selected .#{$treePrefixCls}-iconEle .spaceAddIcon {
      border: 3px solid var(--tertiary-panel-item-selected-border-color);
    }
    .#{$treePrefixCls}-node-content-wrapper {
      display: inline-block;
      height: 64px;
      width: 64px;
      margin: 0;
      padding: 0;
      text-decoration: none;
      vertical-align: top;
      cursor: pointer;
    }
    span {
      &.#{$treePrefixCls}-switcher,
      &.#{$treePrefixCls}-checkbox {
        display: none;
      }
      &.#{$treePrefixCls}-iconEle {
        width: 64px;
        height: 64px;
        outline: none;
        cursor: pointer;

        &.#{$treePrefixCls}-icon__customize {
          background-image: none;
        }
      }
      &.#{$treePrefixCls}-icon_loading {
        margin-right: 2px;
        vertical-align: top;
      }
      &.#{$treePrefixCls}-switcher {
        &.#{$treePrefixCls}-switcher-noop {
          cursor: auto;
        }
        &.#{$treePrefixCls}-switcher_open {
          mask: url('../images/icons/switcher.svg') 0 0/15px 15px;
          -webkit-mask: url('../images/icons/switcher.svg') 0 0/15px 15px;
          background-color: var(--panel-text-color);
          transform: rotate(90deg);
          transition: transform 0.25s;
        }
        &.#{$treePrefixCls}-switcher_close {
          mask: url('../images/icons/switcher.svg') 0 0/15px 15px;
          -webkit-mask: url('../images/icons/switcher.svg') 0 0/15px 15px;
          background-color: var(--panel-text-color);
          transform: rotate(0deg);
          transition: transform 0.25s;
        }
      }
      &.#{$treePrefixCls}-checkbox {
        width: 13px;
        height: 13px;
        margin: 0 3px;
        background-position: 0 0;
        &-checked {
          background-position: -14px 0;
        }
        &-indeterminate {
          background-position: -14px -28px;
        }
        &-disabled {
          background-position: 0 -56px;
        }
        &.#{$treePrefixCls}-checkbox-checked.#{$treePrefixCls}-checkbox-disabled {
          background-position: -14px -56px;
        }
        &.#{$treePrefixCls}-checkbox-indeterminate.#{$treePrefixCls}-checkbox-disabled {
          position: relative;
          background: #ccc;
          border-radius: 3px;
          &::after {
            position: absolute;
            top: 5px;
            left: 3px;
            width: 5px;
            height: 0;
            border: 2px solid #fff;
            border-top: 0;
            border-left: 0;
            -webkit-transform: scale(1);
            transform: scale(1);
            content: ' ';
          }
        }
      }
    }
  }
  &:not(.#{$treePrefixCls}-show-line) {
    .#{$treeNodePrefixCls} {
      .#{$treePrefixCls}-switcher-noop {
        background: none;
      }
    }
  }
  &.#{$treePrefixCls}-show-line {
    .#{$treeNodePrefixCls}:not(:last-child) {
      > ul {
        background: url('data:image/gif;base64,R0lGODlhCQACAIAAAMzMzP///yH5BAEAAAEALAAAAAAJAAIAAAIEjI9pUAA7')
          0 0 repeat-y;
      }
      > .#{$treePrefixCls}-switcher-noop {
        background-position: -56px -18px;
      }
    }
    .#{$treeNodePrefixCls}:last-child {
      > .#{$treePrefixCls}-switcher-noop {
        background-position: -56px -36px;
      }
    }
  }
  &-child-tree {
    display: none;
    &-open {
      display: block;
    }
  }
  &-treenode-disabled {
    > span:not(.#{$treePrefixCls}-switcher),
    > a,
    > a span {
      color: #767676;
      cursor: not-allowed;
    }
  }
  #-treenode-active {
    background: rgba(0, 0, 0, 0.1);

    // .#{$treePrefixCls}-node-content-wrapper {
    //   background: rgba(0, 0, 0, 0.1);
    // }
  }
  &-node-selected {
    background-color: transparent;
  }
  &-icon__open {
    margin-right: 2px;
    vertical-align: top;
    background-position: -110px -16px;
  }
  &-icon__close {
    margin-right: 2px;
    vertical-align: top;
    background-position: -110px 0;
  }
  &-icon__docu {
    margin-right: 2px;
    vertical-align: top;
    background-position: -110px -32px;
  }
  &-icon__customize {
    margin-right: 2px;
    vertical-align: top;
  }
  &-indent-unit {
    display: inline-block;
    padding-left: 0;
  }
}
