<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>FAQ Template</title>
    <meta name="jel-schema" content="world-1.0">
    <meta name="jel-world-type" content="0">
    <meta name="jel-world-seed" content="12">
  </head>
  <body>
    <div id="whzinmb" style="color: rgba(33, 134, 235, 1.0); width: min-content; height: min-content; background-color:
        transparent; text-stoke: 4px rgba(0, 0, 0, 1.0); font-family: cursive; transform: translate3d(-512.3273cm,
        344.1815cm, -263.3144cm) rotate3d(-0.0356, 0.9990, 0.0285, 1.4948rad) scale3D(6.4857, 6.4857, 6.4857);">
      <p>Jel Frequently Asked Questions</p>
    </div>
    <div id="s2kwfr7" style="color: rgba(255, 255, 255, 1.0); width: min-content; height: min-content; background-color:
        rgba(0, 0, 0, 1.0); font-family: sans-serif; transform: translate3d(-386.4771cm, 175.7444cm, -225.8653cm)
        rotate3d(0.0232, 0.9934, 0.1122, 1.5494rad) scale3D(4.0041, 4.0041, 4.0041);">
      <p>Coming Soon...</p>
    </div>
  </body>
</html>
