<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Jel FAQ</title>
    <meta name="jel-schema" content="world-1.0">
    <meta name="jel-world-type" content="0">
    <meta name="jel-world-seed" content="55">
    <meta name="jel-spawn-position-x" content="0.8038307935491437">
    <meta name="jel-spawn-position-y" content="4.224999999999957">
    <meta name="jel-spawn-position-z" content="-3.785656895647282">
    <meta name="jel-spawn-rotation-x" content="-0.02919103735778558">
    <meta name="jel-spawn-rotation-y" content="0.7181124946320947">
    <meta name="jel-spawn-rotation-z" content="0.030176584698450505">
    <meta name="jel-spawn-rotation-w" content="0.6946594144810703">
    <meta name="jel-spawn-radius" content="0">
  </head>
  <body>
    <div id="whzinmb" style="color: rgba(33, 134, 235, 1.0); width: min-content; height: min-content; background-color:
        transparent; text-stoke: 4px rgba(255, 255, 255, 1.0); font-family: cursive; transform: translate3d(-512.3270cm,
        344.1820cm, -263.3140cm) rotate3d(-0.0356, 0.9990, 0.0285, 1.4949rad) scale3D(6.4859, 6.4857, 6.4859);">
      <p>Jel Frequently Asked Questions</p>
    </div>
    <div id="s2kwfr7" style="color: rgba(255, 255, 255, 1.0); width: min-content; height: min-content; background-color:
        rgba(0, 0, 0, 1.0); font-family: sans-serif; transform: translate3d(-386.4770cm, 175.7440cm, -225.8650cm)
        rotate3d(0.0232, 0.9934, 0.1122, 1.5494rad) scale3D(4.0040, 4.0041, 4.0040);">
      <p>Coming Soon!</p>
    </div>
  </body>
</html>
