<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Hello World Template</title>
    <meta name="jel-schema" content="world-1.0">
    <meta name="jel-world-type" content="0">
    <meta name="jel-world-seed" content="64">
  </head>
  <body>
    <div src="jel://entities/kotvc69/components/media-emoji/properties/emoji" id="kotvc69" style="font-family: emoji;
        transform: translate3d(1856.4299cm, 237.2193cm, 3073.5901cm) rotate3d(0.3748, -0.9103, -0.1760, 1.0538rad)
        scale3D(1.0324, 1.0324, 1.0324);">🎉</div>
    <img crossorigin="anonymous"
        src="https://storage.jel.app/files/88c2e0e4-1d4e-4760-a50c-e932dfbd55af.png?token=0ead074a57ce15b79cadecd3b2df9819" id="bt3yn3p" style="transform: translate3d(1659.8465cm, 389.4403cm, 2989.6416cm) rotate3d(-0.1631, -0.9853, 0.0500, 0.1238rad) scale3D(0.4692, 0.4692, 0.4692);">
    <div id="759nmkm" style="color: rgba(255, 255, 255, 1.0); width: min-content; height: min-content; background-color:
        rgba(0, 0, 0, 1.0); font-family: sans-serif; transform: translate3d(1783.2512cm, 163.1715cm, 3018.3903cm)
        rotate3d(-0.2650, -0.9639, -0.0268, 0.2918rad) scale3D(1.2371, 1.2371, 1.2371);">
      <h2>Welcome to Jel.</h2>
      <p>
        <br>
      </p>
      <p>This is your first public world.</p>
      <p>
        <br>
      </p>
      <p>Use WASD to move or hold shift to look around.</p>
      <p>You can find hotkeys in the bottom right.</p>
      <p>
        <br>
      </p>
      <p>
        If you're new to Jel, visit the
        <strong>Welcome World</strong>
        on the left.
      </p>
      <p>
        You can also check out
        <strong>What's New</strong>
        or the
        <strong>Jel FAQ</strong>
        .
      </p>
    </div>
  </body>
</html>
