<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Hello World Template</title>
    <meta name="jel-schema" content="world-1.0">
    <meta name="jel-world-type" content="1">
    <meta name="jel-world-seed" content="64">
    <meta name="jel-world-ground-color-r" content="0">
    <meta name="jel-world-ground-color-g" content="0.266666666">
    <meta name="jel-world-ground-color-b" content="0.0196078431372549">
    <meta name="jel-world-edge-color-r" content="0.5764705882352941">
    <meta name="jel-world-edge-color-g" content="0.3411764705882353">
    <meta name="jel-world-edge-color-b" content="0.20784313725490197">
    <meta name="jel-world-leaves-color-r" content="0">
    <meta name="jel-world-leaves-color-g" content="0.39215686274509803">
    <meta name="jel-world-leaves-color-b" content="0.07058823529411765">
    <meta name="jel-world-bark-color-r" content="0.1450980392156863">
    <meta name="jel-world-bark-color-g" content="0.07058823529411765">
    <meta name="jel-world-bark-color-b" content="0">
    <meta name="jel-world-rock-color-r" content="1">
    <meta name="jel-world-rock-color-g" content="1">
    <meta name="jel-world-rock-color-b" content="1">
    <meta name="jel-world-grass-color-r" content="0">
    <meta name="jel-world-grass-color-g" content="0.8509803921568627">
    <meta name="jel-world-grass-color-b" content="0.050980392156862744">
    <meta name="jel-world-sky-color-r" content="0.29411764705882354">
    <meta name="jel-world-sky-color-g" content="0.4392156862745098">
    <meta name="jel-world-sky-color-b" content="0.6549019607843137">
    <meta name="jel-world-water-color-r" content="0">
    <meta name="jel-world-water-color-g" content="0.26666666666666666">
    <meta name="jel-world-water-color-b" content="0.6352941176470588">
    <meta name="jel-spawn-radius" content="0">
    <meta name="jel-spawn-position-x" content="17.081644763761755">
    <meta name="jel-spawn-position-y" content="3.600000000000068">
    <meta name="jel-spawn-position-z" content="-31.319807324047584">
    <meta name="jel-spawn-rotation-x" content="-0.015174091175434971">
    <meta name="jel-spawn-rotation-y" content="-0.1506367979119167">
    <meta name="jel-spawn-rotation-z" content="-0.002312442898652931">
    <meta name="jel-spawn-rotation-w" content="0.9884700069702087">
  </head>
  <body>
    <div id="r3h4y29" style="color: rgba(0, 0, 0, 1.0); width: min-content; height: min-content; background-color:
        rgba(255, 255, 255, 1.0); font-family: sans-serif; transform: translate3d(1692.7197cm, 136.5170cm, 2990.1745cm)
        rotate3d(0.1105, -0.9930, 0.0408, 0.2620rad) scale3D(0.9978, 0.9978, 0.9978);">
      <p>
        <strong>D</strong>
      </p>
    </div>
    <div id="o3uz0rd" style="color: rgba(0, 0, 0, 1.0); width: min-content; height: min-content; background-color:
        rgba(255, 255, 255, 1.0); font-family: sans-serif; transform: translate3d(1622.7882cm, 313.1561cm, 2976.3784cm)
        rotate3d(0.1255, -0.9878, -0.0923, 0.1689rad) scale3D(0.9978, 0.9978, 0.9978);">
      <p>
        <strong>W</strong>
      </p>
    </div>
    <div id="njlabv3" style="color: rgba(0, 0, 0, 1.0); width: min-content; height: min-content; background-color:
        rgba(255, 255, 255, 1.0); font-family: sans-serif; transform: translate3d(1646.7400cm, 312.8836cm, 2981.8058cm)
        rotate3d(-0.0566, -0.9983, -0.0129, 0.3660rad) scale3D(0.9978, 0.9978, 0.9978);">
      <p>
        <strong>A</strong>
      </p>
    </div>
    <div src="jel://entities/kotvc69/components/media-emoji/properties/emoji" id="kotvc69" style="font-family: emoji;
        transform: translate3d(1869.9200cm, 258.2320cm, 3090.3700cm) rotate3d(0.3189, -0.9398, -0.1229, 1.1993rad)
        scale3D(1.3863, 1.3863, 1.3863);">🎉</div>
    <img crossorigin="anonymous"
        src="https://storage.jel.app/files/88c2e0e4-1d4e-4760-a50c-e932dfbd55af.png?token=0ead074a57ce15b79cadecd3b2df9819" id="bt3yn3p" style="transform: translate3d(1806.7398cm, 274.1163cm, 3038.8554cm) rotate3d(0.0477, -0.9988, -0.0069, 0.4299rad) scale3D(0.7424, 0.7424, 0.7424);">
    <div id="759nmkm" style="color: rgba(255, 255, 255, 1.0); width: min-content; height: min-content; background-color:
        rgba(0, 0, 0, 1.0); font-family: sans-serif; transform: translate3d(1785.6552cm, 165.4981cm, 3017.6996cm)
        rotate3d(0.0583, -0.9980, -0.0260, 0.2984rad) scale3D(1.4893, 1.4893, 1.4893);">
      <h2>
        Welcome to
        <strong>Jel</strong>
        .
      </h2>
      <p>
        <br>
      </p>
      <p>
        <br>
      </p>
      <p>Click &amp; hold shift to look around.</p>
      <p>
        <br>
      </p>
      <p>
        <br>
      </p>
      <p>
        <br>
      </p>
      <p>Then, use WASD keys to move.</p>
      <p>
        <br>
      </p>
      <p>
        If you're new to Jel, visit the
        <strong><u>Welcome World</u></strong>
        on the left.
      </p>
      <p>
        You can also check out
        <strong><u>What's New</u></strong>
        or
        <strong><u>Jel Help &amp; Support</u></strong>
        <u>.</u>
      </p>
    </div>
    <div id="6asxm2x" style="color: rgba(0, 0, 0, 1.0); width: min-content; height: min-content; background-color:
        rgba(255, 255, 255, 1.0); font-family: sans-serif; transform: translate3d(1631.9187cm, 384.1728cm, 2977.4490cm)
        rotate3d(0.5368, -0.8434, -0.0221, 0.2461rad) scale3D(1.3385, 1.3385, 1.3385);">
      <p>
        <strong>Shift</strong>
      </p>
    </div>
    <div id="2683ltt" style="color: rgba(0, 0, 0, 1.0); width: min-content; height: min-content; background-color:
        rgba(255, 255, 255, 1.0); font-family: sans-serif; transform: translate3d(1668.5678cm, 312.6283cm, 2990.1953cm)
        rotate3d(-0.2437, -0.9697, -0.0149, 0.2057rad) scale3D(0.9978, 0.9978, 0.9978);">
      <p>
        <strong>S</strong>
      </p>
    </div>
  </body>
</html>
