<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Video Loop Test</title>
    <meta name="jel-schema" content="world-1.0">
    <meta name="jel-world-type" content="0">
    <meta name="jel-world-seed" content="124">
  </head>
  <body>
    <video crossorigin="anonymous" controls="" currenttime="30.282667"
        src="https://hubs.local:4000/files/c6b5dedb-e3dc-4410-a033-4c5e45bbcddb.mp4?token=eb8a76fcb8d3a5ab50ca59edcdc21213" id="boh5unm" style="transform: translate3d(-292.0273cm, 235.2965cm, -22.5319cm) rotate3d(-0.0555, 0.9973, 0.0474, 1.3881rad) scale3D(3.4602, 3.4603, 3.4602);"></video>
  </body>
</html>
