<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>What's New in Jel</title>
    <meta name="jel-schema" content="world-1.0">
    <meta name="jel-world-type" content="0">
    <meta name="jel-world-seed" content="89">
    <meta name="jel-spawn-position-x" content="1.951474511689415">
    <meta name="jel-spawn-position-y" content="3.7255796216271673">
    <meta name="jel-spawn-position-z" content="-2.65285840220792">
    <meta name="jel-spawn-rotation-x" content="-0.03775503970945809">
    <meta name="jel-spawn-rotation-y" content="0.6915719157965351">
    <meta name="jel-spawn-rotation-z" content="0.036243748321589365">
    <meta name="jel-spawn-rotation-w" content="0.7204090733504463">
    <meta name="jel-spawn-radius" content="0">
  </head>
  <body>
    <div src="jel://entities/qjn9eln/components/media-emoji/properties/emoji" id="qjn9eln" style="font-family: emoji;
        transform: translate3d(-15.2801cm, 138.2660cm, -335.0480cm) rotate3d(-0.2698, 0.9182, -0.2901, 1.2397rad)
        scale3D(1.0000, 1.0000, 1.0000);">💡</div>
    <div id="lj0ymo0" style="color: rgba(255, 255, 255, 1.0); width: min-content; height: min-content; background-color:
        rgba(0, 0, 0, 1.0); font-family: sans-serif; transform: translate3d(-20.9539cm, 110.5930cm, -277.6840cm)
        rotate3d(-0.0400, 0.9984, 0.0397, 1.5652rad) scale3D(1.0000, 1.0000, 1.0000);">
      <h1>What's New</h1>
      <p>
        <br>
      </p>
      <p>Come back here to keep up to date with the</p>
      <p>latest updates to Jel.</p>
    </div>
  </body>
</html>
