$primary-sub0: #050e2e;
$primary-0: #061139;
$primary-1: #111749;
$primary-1b: #151C5B;
$primary-2: #19216c;
$primary-3: #2d3a8c;
$primary-4: #35469c;
$primary-5: #4055a8;
$primary-6: #4c63b6;
$primary-7: #647acb;
$primary-8: #7b93db;
$primary-9: #98aeeb;
$primary-10: #bed0f7;
$primary-10b: #cfdcf8;
$primary-11: #e0e8f9;
$primary-11b: #f0f4fc;
$primary-12: #ffffff;

$neutral-1: #0f1923;
$neutral-2: #1f2933;
$neutral-3: #323f4b;
$neutral-4: #3e4c59;
$neutral-5: #52606d;
$neutral-6: #616e7c;
$neutral-7: #7b8794;
$neutral-8: #9aa5b1;
$neutral-9: #cbd2d9;
$neutral-10: #e4e7eb;
$neutral-11: #f5f7fa;

$accent-1-1: #035388;
$accent-1-2: #0b69a3;
$accent-1-3: #127fbf;
$accent-1-4: #1992d4;
$accent-1-5: #2bb0ed;
$accent-1-6: #40c3f7;
$accent-1-7: #5ed0fa;
$accent-1-8: #81defd;
$accent-1-9: #b3ecff;
$accent-1-10: #e3f8ff;

$accent-2-1: #841003;
$accent-2-2: #ad1d07;
$accent-2-3: #c52507;
$accent-2-4: #de3a11;
$accent-2-5: #f35627;
$accent-2-6: #f9703e;
$accent-2-7: #ff9466;
$accent-2-8: #ffb088;
$accent-2-9: #ffd0b5;
$accent-2-10: #ffe8d9;

$accent-3-1: #610316;
$accent-3-2: #8a041a;
$accent-3-3: #ab091e;
$accent-3-4: #cf1124;
$accent-3-5: #e12d39;
$accent-3-6: #ef4e4e;
$accent-3-7: #f86a6a;
$accent-3-8: #ff9b9b;
$accent-3-9: #ffbdbd;
$accent-3-10: #ffe3e3;

$accent-4-1: #014d40;
$accent-4-2: #0c6b58;
$accent-4-3: #147d64;
$accent-4-4: #199473;
$accent-4-5: #27ab83;
$accent-4-6: #3ebd93;
$accent-4-7: #64d6ad;
$accent-4-8: #8eedc7;
$accent-4-9: #c6f7e2;
$accent-4-10: #effcf6;

$text-1-size: 12px;
$text-2-size: 14px;
$text-3-size: 16px;
$text-4-size: 18px;
$text-5-size: 20px;
$text-6-size: 24px;
$text-7-size: 30px;
$text-8-size: 36px;
$text-9-size: 48px;
$text-10-size: 60px;
$text-11-size: 72px;

$text-1-weight: 400;
$text-2-weight: 700;
$text-3-weight: 900;

$small-text-size: $text-3-size;
$small-text-weight: $text-1-weight;
$small-text-semi-bold-weight: $text-2-weight;
$small-text-bold-weight: $text-3-weight;

$xsmall-text-size: $text-1-size;
$xsmall-text-weight: $text-1-weight;
$xsmall-text-bold-weight: $text-2-weight;

#webspace-ui {
  --panel-header-text-color: #{$primary-6};
  --panel-header-text-size: #{$text-2-size};
  --panel-header-text-weight: #{$text-2-weight};
  --panel-subheader-text-color: #{$primary-6};
  --panel-subheader-text-size: #{$text-1-size};
  --panel-subheader-text-weight: #{$text-2-weight};
  --panel-selected-text-color: #{$primary-11};
  --panel-unread-text-color: #{$primary-10};
  --panel-text-size: #{$text-4-size};
  --panel-text-weight: #{$text-1-weight};
  --panel-text-color: #{$primary-9};
  --panel-banner-text-size: #{$text-4-size};
  --panel-banner-text-weight: #{$text-2-weight};
  --panel-banner-text-color: #{$primary-11};
  --panel-small-banner-text-size: #{$text-3-size};
  --panel-small-banner-text-weight: #{$text-2-weight};
  --panel-small-banner-text-color: #{$primary-11};
  --panel-small-banner-text-secondary-size: #{$text-2-size};
  --panel-small-banner-text-secondary-weight: #{$text-1-weight};
  --panel-small-banner-text-secondary-color: #{$primary-8};
  --panel-small-banner-subtext-size: #{$text-2-size};
  --panel-small-banner-subtext-weight: #{$text-1-weight};
  --channel-header-background-color: #{$primary-1b};
  --panel-background-color: #{$primary-1};
  --panel-selected-text-weight: #{$text-2-weight};
  --panel-unread-text-weight: #{$text-2-weight};
  --panel-item-text-size: #{$text-3-size};
  --panel-item-selected-background-color: #{$primary-3};
  --panel-item-hover-background-color: #{$primary-3};
  --panel-item-hover-text-color: #{$primary-11};
  --panel-item-active-text-color: #{$primary-11};
  --panel-item-active-background-color: #{$primary-5};
  --panel-item-drag-line-color: #{$primary-8};
  --menu-background-color: #{$primary-3};
  --menu-border-color: #{$primary-4};
  --menu-shadow-color: #{$neutral-1}cc;
  --menu-cell-border-color: #{$primary-0};
  --menu-cell-background-color: #{$primary-2};
  --menu-item-text-color: #{$primary-11};
  --menu-item-text-size: #{$text-4-size};
  --menu-item-hover-background-color: #{$primary-5};
  --menu-item-hover-text-color: #{$primary-11};
  --menu-item-active-text-color: #{$primary-10};
  --menu-item-active-background-color: #{$primary-4};
  --secondary-menu-item-text-color: #{$primary-11};
  --secondary-menu-item-text-size: #{$text-3-size};
  --secondary-menu-item-hover-background-color: #{$primary-3};
  --secondary-menu-item-hover-text-color: #{$primary-11};
  --secondary-menu-item-active-text-color: #{$primary-10};
  --secondary-menu-item-active-background-color: #{$primary-2};
  --secondary-menu-item-icon-color: #{$accent-1-8};
  --secondary-panel-background-color: #{$primary-0};
  --secondary-panel-item-text-color: #{$primary-11};
  --secondary-panel-item-text-weight: #{$text-2-weight};
  --secondary-panel-item-text-size: #{$text-5-size};
  --secondary-panel-item-background-color: #{$primary-2};
  --secondary-panel-item-selected-background-color: #{$primary-2};
  --secondary-panel-item-selected-border-color: #{$primary-4};
  --secondary-panel-item-hover-background-color: #{$primary-2};
  --secondary-panel-item-active-background-color: #{$primary-3};
  --secondary-panel-item-drag-line-color: #{$primary-8};
  --tertiary-panel-background-color: #{$primary-sub0};
  --tertiary-panel-item-text-color: #{$primary-11};
  --tertiary-panel-item-text-weight: #{$text-2-weight};
  --tertiary-panel-item-text-size: #{$text-5-size};
  --tertiary-panel-item-background-color: #{$primary-1};
  --tertiary-panel-item-selected-background-color: #{$primary-1};
  --tertiary-panel-item-selected-border-color: #{$primary-3};
  --tertiary-panel-item-hover-background-color: #{$primary-1};
  --tertiary-panel-item-active-background-color: #{$primary-2};
  --tertiary-panel-item-drag-line-color: #{$primary-7};
  --dialog-background-color: #{$primary-1};
  --dialog-footer-background-color: #{$primary-0};
  --dialog-body-text-color: #{$primary-10};
  --dialog-body-text-size: #{$text-4-size};
  --dialog-body-text-weight: #{$text-1-weight};
  --dialog-info-text-color: #{$primary-9};
  --dialog-info-text-size: #{$text-3-size};
  --dialog-info-text-weight: #{$text-2-weight};
  --dialog-label-text-color: #{$primary-7};
  --dialog-label-text-size: #{$text-2-size};
  --dialog-label-text-weight: #{$text-2-weight};
  --dialog-tip-text-color: #{$primary-7};
  --dialog-tip-text-size: #{$text-1-size};
  --dialog-tip-text-weight: #{$text-2-weight};
  --dialog-title-text-color: #{$primary-7};
  --dialog-title-text-size: #{$text-1-size};
  --dialog-title-text-weight: #{$text-2-weight};
  --dialog-field-action-button-color: #{$primary-5};
  --dialog-field-action-button-hover-color: #{$primary-9};
  --dialog-shadow-color: #{$neutral-1}cc;
  --action-button-text-color: #{$primary-10};
  --action-button-destructive-text-color: #{$neutral-10};
  --action-button-text-size: #{$text-4-size};
  --action-button-text-weight: #{$text-2-weight};
  --action-button-background-color: #{$primary-6};
  --action-button-border-color: #{$primary-4}A0;
  --action-button-destructive-background-color: #{$accent-3-5};
  --action-button-destructive-border-color: #{$accent-3-6}A0;
  --action-button-hover-background-color: #{$primary-5};
  --action-button-active-background-color: #{$primary-4};
  --action-button-destructive-hover-background-color: #{$accent-3-4};
  --action-button-destructive-hover-border-color: #{$accent-3-5};
  --action-button-destructive-active-background-color: #{$accent-3-3};
  --action-button-destructive-active-border-color: #{$accent-3-3};
  --small-action-button-text-size: #{$text-3-size};
  --small-action-button-text-weight: #{$text-2-weight};
  --tiny-action-button-text-size: #{$text-2-size};
  --tiny-action-button-text-weight: #{$text-2-weight};
  --tiny-icon-button-border-color: #{$primary-4};
  --tiny-icon-button-background-color: #{$primary-3};
  --action-color: #{$primary-9};
  --action-hover-color: #{$primary-9};
  --action-pressed-color: #{$primary-9};
  --scroll-thumb-color: #{$primary-9}A0;
  --secondary-scroll-thumb-color: #{$neutral-9}A0;
  --input-text-color: black;
  --tooltip-background-color: #{$neutral-2};
  --tooltip-text-size: #{$text-2-size};
  --tooltip-text-weight: #{$text-1-weight};
  --tooltip-text-color: #{$neutral-11};
  --big-tooltip-background-color: #{$neutral-2};
  --big-tooltip-text-size: #{$text-4-size};
  --big-tooltip-text-weight: #{$text-2-weight};
  --big-tooltip-text-color: #{$neutral-11};
  --text-input-text-color: #{$neutral-1};
  --text-input-placeholder-color: #{$neutral-6};
  --text-input-placeholder-ephemeral-color: #{$neutral-8};
  --text-input-background-color: #{$neutral-11};
  --text-input-text-size: #{$text-3-size};
  --text-input-text-weight: #{$text-1-weight};
  --page-overlay-text-color: black;
  --canvas-overlay-text-color: #{$neutral-11};
  --canvas-overlay-text-size: #{$text-3-size};
  --canvas-overlay-secondary-text-weight: #{$text-1-weight};
  --canvas-overlay-secondary-text-size: #{$text-3-size};
  --canvas-overlay-tertiary-text-size: #{$text-2-size};
  --canvas-overlay-item-text-weight: #{$text-2-weight};
  --canvas-overlay-item-secondary-text-weight: #{$text-1-weight};
  --canvas-overlay-item-hover-background-color: #{$primary-4}60;
  --canvas-overlay-item-active-background-color: #{$primary-3}60;
  --canvas-overlay-neutral-item-background-color: #{$primary-1}40;
  --canvas-overlay-neutral-item-link-color: #{$primary-9};
  --canvas-overlay-tertiary-text-weight: #{$text-1-weight};
  --canvas-overlay-tertiary-text-size: #{$text-2-size};
  --canvas-overlay-item-tertiary-text-weight: #{$text-1-weight};
  --key-label-font: 600 13px "Raleway", monospace;
  --big-key-label-font: 600 22px "Raleway", monospace;
  --dropdown-thumb-background-color: #{$primary-4};
  --dropdown-thumb-border-color: #{$primary-0};
  --dropdown-thumb-active-background-color: #{$primary-7};
  --loading-background-color: #333;
  --button-flash-background-color: #{$accent-1-3};
  --button-flash-border-color: #{$accent-1-1};
  --button-flash-text-color: #{$neutral-9};
  --important-icon-color: #{$accent-2-6};
  --footer-link-text-color: #{$neutral-11};
  --footer-link-text-size: #{$text-3-size};
  --footer-link-text-weight: #{$text-2-weight};
  --notify-banner-background-color: #{$primary-0};
  --notify-banner-text-color: #{$neutral-11};
  --notify-banner-close-color: #{$neutral-9};
  --snackbar-background-color: #{$accent-4-5};
  --snackbar-border-color: #{$accent-4-6};
  --snackbar-text-color: #{$neutral-11};
  --snackbar-text-size: #{$text-4-size};
  --snackbar-small-text-size: #{$text-2-size};
  --snackbar-text-weight: #{$text-2-weight};
  --snackbar-action-button-text-color: #{$neutral-11};
  --snackbar-action-button-text-size: #{$text-4-size};
  --snackbar-action-button-text-weight: #{$text-2-weight};
  --snackbar-action-button-background-color: #{$accent-4-3};
  --snackbar-action-button-border-color: transparent;
  --snackbar-action-button-hover-background-color: #{$accent-4-2};
  --snackbar-action-button-active-background-color: #{$accent-4-1};
  --snackbar-secondary-action-button-text-color: #{$neutral-11};
  --snackbar-secondary-action-button-text-size: #{$text-4-size};
  --snackbar-secondary-action-button-text-weight: #{$text-2-weight};
  --snackbar-secondary-action-button-background-color: transparent;
  --snackbar-secondary-action-button-border-color: #{$accent-4-8}A0;
  --snackbar-secondary-action-button-hover-background-color: #{$accent-4-4};
  --snackbar-secondary-action-button-active-background-color: #{$accent-4-3};
  --notification-ping-color: #{$accent-3-5};
  --notification-unread-color: #{$primary-8};
  --notification-text-color: #{$neutral-11};
  --notification-count-font: 600 14px "Inconsolata", monospace;
}
